<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <containers>
      <container name="aopContainer">
        <extension type="Interception"/>
        <register type="UnityAOPDemo.Model.IUserProcessor,UnityAOPDemo" mapTo="UnityAOPDemo.Model.UserProcessor,UnityAOPDemo">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="UnityAOPDemo.Interception.LogBeforeBehavior, UnityAOPDemo"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>